<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<section>

		<div class="container">
			<div class="row">
				<div class="col-md-10">
					<div class="card">
						<div class="card-body">
							<h3 class="mb-4">Change Password</h3>
							<form action="">
							
							<!-- old password -->
							<div class="form-group">
									
										<input type="text" class="form-control" placeholder="Enter Old Password">
									
							</div>
							
							<!-- new password -->
							<div class="form-group">
									
										<input type="text" class="form-control" placeholder="Enter New Password">
									
							</div>
							
							<div class="container ">
							
							<button type="reset" class=" btn bg-primary text-white ">Reset</button>
							
							
							</div>
							<div class="container mt-5 pt-2">
							
							<button type="button" class=" btn bg-primary text-white ">Change</button>
							
							</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>


		<script>
		$(document).ready(()=>{
			
			$(".item").removeClass("active");
			$("#settings").addClass("active");
			
		});
		
		</script>
	</section>
</body>
</html>