<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<section>

		<div class="mt-2 ml-2 mr-5 pb-2 mb-2" style="background-color: white;">

			<h1 style="text-align: center; padding-top: 30px">Your Contacts</h1>
			<div class="container" style="padding-left: 5%">
			
			<div class="search-container my-3">
			
				<input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="Search your Contact here">
			
				<div class="search-result">
				
				<!-- result comes here-->
				
				</div>
			</div>

				<div class="list-group mb-2" th:each="contact:${contacts}">
					<div style="display: inline-flex;">
						<hr>
						<img alt="profile-photo" src=""
							th:src="@{'/img/'+${contact.image}}"
							style="width: 50px; height: 45px; border-radius: 50%"> <a
							th:href="@{'/user/contact/'+${contact.cId}}"
							class="list-group-item-action pt-2 ml-3"
							th:text="${contact.name}"></a>


					</div>
				</div>

			</div>

		</div>
		<!-- pagination -->
		<nav aria-label="Page navigation example">
			<ul class="pagination">
				<li th:if="${currentPage !=0}" class="page-item"><a
					class="page-link" href="#"
					th:href="@{'/user/show-contacts/'+${currentPage-1}}">Previous</a></li>

				<li th:each="i:${#numbers.sequence(1,totalPages,1)} "
					th:classappend="${currentPage==i-1?'active':''}" class="page-item">
					<a th:href="@{'/user/show-contacts/'+${i-1}}" class="page-link"
					href="#"><span th:text="${i}"></span></a>
				</li>

				<li th:if="${currentPage+1 !=totalPages and totalPages!=0}" class="page-item"><a
					class="page-link" href="#"
					th:href="@{'/user/show-contacts/'+${currentPage+1}}">Next</a></li>
			</ul>
		</nav>
		<script>
		$(document).ready(()=>{
			
			$(".item").removeClass("active");
			$("#show-contacts").addClass("active");
			
		});
		</script>
	</section>
</body>
</html>