<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row ">
				<div class="col-md-6 offset-md-3">
					<div class="my-card mt-1">

						<div th:if="${session.message}"
							th:classappend="${session.message.type}" class="alert"
							role="alert">
							<p th:text="${session.message.content}"></p>
							<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>

						</div>
						<div class="container text-center">
							<img style="width: 100px; height: 100px; border-radius: 50%"
								th:src="@{'/img/'+${user.imageUrl}}" />
						</div>

						<h3 class="text-center">Update Here</h3>

						<form th:action="@{/user/profile-update}" method="post"
							enctype="multipart/form-data" novalidate="novalidate"
							th:object="${user}">

							<div class="form-group">
								<label for="userName">Your Name</label> <input type="text"
									class="form-control" id="userName" placeholder="Enter name"
									name="name" th:value="${user.name}"
									th:classappend="${#fields.hasErrors('name')?'is-invalid':' '}"
									required>
								<div th:each="e : ${#fields.errors('name')}"
									class="invalid-feedback" th:text="${e}"></div>
							</div>

							<div class="form-group">
								<label for="userEmail">Email address</label> <input type="email"
									class="form-control" id="email" placeholder="Enter email"
									name="email" th:value="${user.email}" required
									th:classappend="${#fields.hasErrors('email')?'is-invalid':' '}">

								<div th:each="e : ${#fields.errors('email')}"
									class="invalid-feedback" th:text="${e}"
									id="validationServer03Feedback"></div>
							</div>

							<input type="hidden" class="form-control" id="UserPassword"
								th:value="${user.password}" placeholder="Password"
								name="password" required readonly="readonly"
								th:classappend="${#fields.hasErrors('password')?'is-invalid':' '}">



							<input type="hidden" readonly class="form-control-plaintext"
								name="role" id="role" th:value="${user.role}"> <input
								type="hidden" readonly class="form-control-plaintext"
								name="enabled" id="enabled" th:value="${user.enabled}">


							<div class="form-group">
								<textarea placeholder="Enter Something About Yourself" rows="3"
									class="form-control" th:text="${user.about}"></textarea>
							</div>

							<div class="custom-file mt-3">
								<input type="file" name="profilePicture">
							</div>
							<div class="info mt-3">
								<p>
									<strong>Info!</strong> To Change Password, Please Go to settings ...
								</p>
							</div>

							<div class="container text-center">
								<button class="btn bg-primary text-white" type="submit">Submit</button>
							</div>
							
						</form>
					</div>
				</div>
			</div>
		</div>
		<script>
		$(document).ready(()=>{
			
			$(".item").removeClass("active");
			$("#profile").addClass("active");
			
		});
		</script>
	</section>
</body>
</html>