<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section>
	<div class="container">
    <h1 style="color: #333;text-align: center; margin: 30px 0;">About Smart Contact Manager</h1>
    <p style="color: #555;
  line-height: 1.5;">At Smart Contact Manager, we understand the importance of staying organized and maintaining a seamless connection with your contacts. Our website provides a comprehensive solution for storing and managing all your contact details in one convenient location.</p>
    
    <h2>Key Features</h2>
    <ul class="feature-list">
      <li>Centralized Contact Storage</li>
      <li>Customizable Contact Profiles</li>
      <li>Search and Filter Functionality</li>
      <li>Import and Export Contacts</li>
      <li>Secure and Private</li>
      <li>Cross-Device Access</li>
      <li>Intuitive User Interface</li>
    </ul>
    
    <div class="contact-info">
      <p>If you have any questions or need assistance, our support team is always ready to help. Contact us at <a href="mailto:support@smartcontactmanager.com">support@smartcontactmanager.com</a>.</p>
    </div>
  </div>
	</section>
</body>
</html>