<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<section>
		<div id="login">
			<div class="container">
				<div id="login-row"
					class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div id="login-box" style="height: 360px;" class="col-md-12">
							<h3 class="mb-4 mt-3 text-center">Change Password</h3>
							<form th:action="@{/change-password}" method="post">
							<div th:if="${session.message}" class="alert alert-success">
								<span th:text="${session.message}"></span>
								<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block> 
								</div>
								
							<!-- new password -->
							<div class="form-group">
									
										<input type="text" name="newPassword" class="form-control" placeholder="Enter New Password" autocomplete="off"
										pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
 										title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters">
									
							</div>
							<!-- Confirm password -->
							<div class="form-group">
									
										<input type="password" name="confirmPassword" class="form-control" placeholder="Enter New Password" autocomplete="off"
										pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
 										title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters">
									
							</div>
							
							<div class="container">
							
							<button type="reset" class=" btn btn-outline-primary btn-sm " >Reset</button>
							
							
							</div>
							<div class="container mt-4 pt-2">
							
							<button type="submit" class=" btn bg-primary text-white ">Change password</button>
							
							</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>