
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row ">
				<div class="col-md-6 offset-md-3">
					<div class="my-card mt-1">

						<div th:if="${session.message}"
							th:classappend="${session.message.type}" class="alert"
							role="alert">
							<p th:text="${session.message.content}"></p>
							<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block> 

						</div>
						<div class="container text-center">
							<img style="width: 50px" th:src="@{/img/register.png}" />
						</div>

						<h3 class="text-center">Register</h3>

						<form th:action="@{/do_register}" method="post"
							novalidate="novalidate" th:object="${user}">

							<div class="form-group">
								<label for="userName">Your Name</label> <input type="text"
									class="form-control" id="userName" placeholder="Enter name"
									name="name" th:value="${user.name}" autocomplete="off"
									th:classappend="${#fields.hasErrors('name')?'is-invalid':' '}"
									required>
								<div th:each="e : ${#fields.errors('name')}"
									class="invalid-feedback" th:text="${e}"></div>
							</div>

							<div class="form-group">
								<label for="userEmail">Email address</label> <input type="email"
									class="form-control" id="email" placeholder="Enter email"
									name="email" th:value="${user.email}" required autocomplete="off"
									th:classappend="${#fields.hasErrors('email')?'is-invalid':' '}">

								<div th:each="e : ${#fields.errors('email')}"
									class="invalid-feedback" th:text="${e}"
									id="validationServer03Feedback"></div>
							</div>

							<div class="form-group">
								<label for="UserPassword">Password</label> <input
									type="password" class="form-control" id="UserPassword"
									placeholder="Password" name="password" required autocomplete="off"
									th:classappend="${#fields.hasErrors('password')?'is-invalid':' '}">

								<div th:each="e : ${#fields.errors('password')}"
									class="invalid-feedback" th:text="${e}"
									id="validationServer03Feedback"></div>
							</div>


							<div class="form-group">
								<textarea placeholder="Enter Something About Yourself" rows="3"
									class="form-control" th:text="${user.about}"></textarea>
							</div>

							<div class="form-group form-check text-center">

								<input type="checkbox" name="agreement" class="form-ckeck-input"
									id="agreement"> <label for="agreement">Accept
									terms and conditions</label>
							</div>


							<div class="container text-center">
								<button class="btn bg-primary text-white" type="submit">Submit</button>
								<button class="btn btn-secondary text-white" type="reset">Reset</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>